<div class="container">
  <div class="row">
 

    <div class="section">
      <h5>Administración de Categorías</h5>
      <div class="divider"></div>
      <br><br>

      <!--coluna izquierda-->
      <div class="col s12 m12 l3">
        <div class="card">
          <div class="card-content">
  
            <form [formGroup]="myForm" >
  
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" class="validate" formControlName="_id" [(ngModel)]="categoriasService.selectedCategoria._id" disabled />
                  <label for="_id" [class]="claseLabel">ID</label>
                </div>
              </div>
  
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" formControlName="descripcion" [(ngModel)]="categoriasService.selectedCategoria.descripcion" [ngClass]="{ invalid:myForm.get('descripcion').hasError('required') && myForm.get('descripcion').dirty }">
                  <label for="descripcion" [class]="claseLabel" data-error="" data-success="Correcto">Descripción</label>
                  <div *ngIf="myForm.get('descripcion').errors && myForm.get('descripcion').dirty">
                    <p *ngIf="myForm.get('descripcion').hasError('required')">*El campo es obligatorio</p>
                  </div>
                </div>
              </div>
            </form>
  
            <div class="row">
              <div class="card-action center">
                <button class="waves-effect waves-light btn col s12 m12 l6" [disabled]="myForm.invalid" (click)="alta()">Guardar</button>
                <button class="waves-effect waves-light btn col s12 m12 l6" (click)="resetForm()">Limpiar</button>
              </div>
            </div>
  
  
          </div>
        </div>
      </div>
  
      <!--columna derecha-->
      <div class="col s12 m12 l9">
        <table class="highlight">
          <thead>
            <tr>
              <th hidden>ID</th>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let item of categorias">
              <td hidden>{{ item._id }}</td>
              <td>{{ item.descripcion }}</td>
              <td>
                <button type="submit" class="waves-effect waves-light btn" (click)="modificar(item)"><i class="material-icons">edit</i></button>
                <a class="waves-effect waves-light btn red darken-3" (click)="borrar(item._id)"><i class="material-icons">delete</i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div> <!-- section -->

    
  
    
  </div> <!-- row -->
</div> <!-- container -->

