<div class="container">

  <div>
    <h5 style="padding: 20px ;">Productos Destacados</h5>

  </div>

  <div class="row row-padre">

    <div class="content-card col s12 m6 l6 xl3" *ngFor="let producto of productos">

      <div class="card" >
        <img class="card-img-top" src="https://picsum.photos/300/300" alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">{{ producto.descripcion }}</p>
          <small class="text-muted">Categoria: {{ producto.categoria.descripcion }}</small><br />
          <small class="text-muted"> Stock: {{ producto.cantidad }}</small
          ><br /><br />
          <div class="card-precio-botones">
            <p class="card-text">Precio: $ {{ producto.precio }}</p>
            <a href="#" class="btn btn-primary btn-block">Comprar</a>
          </div>
        </div>
      </div>

    </div>



  </div>  <!--row-->

</div> <!--container-->
